.carousel-wrapper {
    position: relative;
    max-width: 80vw;
    height: 50vh;
    margin: 0 auto;
    overflow: visible;
    /* allow buttons outside */
}

.carousel-container {
    overflow: hidden;
    /* clip slides */
    height: 100%;
    background-color: #f5f5f5;
    border-radius: 0.5rem;
    position: relative;
}

.carousel-track {
    display: flex;
    align-items: stretch;
    gap: 1rem;
    height: 100%;
    transition: transform 0.5s ease;
}

.carousel-slide {
    flex-shrink: 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;

    a {
        text-decoration: none;
        color: inherit;
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
    }

    picture {
         position: relative;
        display: block;
        flex-shrink: 0;
        // height: 400px;
        width: 100%;

        .content {
            img {
                width: 100%;
                // height: 180px;
                object-fit: cover;
                display: block;
            }
            padding: 0.625rem;
            flex-grow: 1;
            display: flex;
            justify-content: center;
            justify-items: center;
            position: relative;
           
            h3 {
                top: 25vh;
                position: absolute;
                margin: 0 0 0.375rem 0;
                font-size: 2rem;
                flex-shrink: 0;
                color: var(--primary-color);
            }
    
            p {
                top: 35vh;
                  position: absolute;
                margin: 0;
                font-size: 0.9rem;
                color: var(--primary-color);
                flex-grow: 1;
            }
        }
    }

}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 0;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    user-select: none;
    border: none;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;

    transition: background-color 0.3s ease;

    &:hover,
    &:focus {
        background-color: rgba(0, 0, 0, 0.7);
    }
}

.carousel-btn-prev {
    left: -3rem;
    /* 3rem outside the carousel */
}

.carousel-btn-next {
    right: -3rem;
    /* 3rem outside the carousel */
}