.lock-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  z-index: 9999;

  // Animation base
  transform: translateY(0);
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;

  &.hide {
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
  }

  i {

    font-size: 80px !important;
    // filter: invert(90%) sepia(20%) saturate(300%) hue-rotate(180deg);
    padding-bottom: 1rem;
  }


  h1 {
    font-size: 4rem;
    padding-bottom: 1rem;
  }

  h2 {
    font-size: 3rem;
  }

  .logo {
    font-size: 6rem;
    font-weight: 900 !important;
  }
}


@media (max-width: 768px) {
  .lock-overlay {
    padding: 1.5rem;
    text-align: center;

  i {

    font-size: 40px !important;
    // filter: invert(90%) sepia(20%) saturate(300%) hue-rotate(180deg);
    padding-bottom: 1rem;
  }

    h1 {
      font-size: 2.2rem;
      padding-bottom: 0.5rem;
    }

    h2 {
      font-size: 1.6rem;
    }

    .logo {
      font-size: 3rem;
      font-weight: 800;
    }
  }
}
