.iot-card {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  scrollbar-width: none;
  position: relative;
  max-width: 992px;
}
.iot-card .iot-card__title_bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20rem;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.527);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  z-index: 999;
}
.iot-card::-webkit-scrollbar {
  display: none;
}
.iot-card .iot-card__text {
  transition: all 0.3s ease-in-out;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-direction: column;
  padding-left: 5em;
  padding-right: 5em;
  min-width: 300px;
}
.iot-card .iot-card__text .divider {
  align-self: center;
  border: 0.5px solid;
  border-radius: 50%;
  width: 90%;
  display: none;
}
.iot-card .iot-card__text .iot-card__title {
  transition: all 0.3s ease-in-out;
  font-size: 2rem;
}
.iot-card .iot-card__text .iot-card__description {
  transition: all 0.3s ease-in-out;
  display: none;
}
.iot-card .card-container {
  display: flex;
  flex-grow: 1;
}
.iot-card div,
.iot-card h4,
.iot-card p {
  color: #000;
}
.iot-card--hover {
  cursor: pointer;
}
.iot-card--hover:hover {
  background-color: rgba(249, 192, 163, 0.502);
}
.iot-card--hover:hover .divider {
  color: var(--primary-color) !important;
  display: block;
  transition: all 0.3s ease-in-out 0.15s;
}
.iot-card--hover:hover .iot-card__title {
  transition: all 0.3s ease-in-out 0.15s;
  font-size: 2rem;
}
.iot-card--hover:hover .iot-card__description {
  transition: all 0.3s ease-in-out 0.15s;
  display: block;
}
.iot-card--hover:hover a.iot-card__link,
.iot-card--hover:hover .iot-card__list li,
.iot-card--hover:hover .iot-card__list svg,
.iot-card--hover:hover .iot-card__title,
.iot-card--hover:hover p {
  color: rgb(0, 0, 0);
}
.iot-card__image {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.cart-container.show .iot-card__image {
  transform: translateY(0);
  opacity: 1;
}
.iot-card__title {
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 0.5rem;
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.cart-container.show .iot-card__title {
  transform: translateX(0);
  opacity: 1;
}
.iot-card__text {
  font-size: 1em;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.iot-card__text > a {
  color: red !important;
}
.cart-container.show .iot-card__text {
  transform: translateY(0);
  opacity: 1;
}
.iot-card__link {
  display: inline-flex;
  align-items: center;
  padding-top: 1rem;
  color: var(--primary-color) !important;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none !important;
}
.iot-card__link span {
  padding-left: 0.25rem;
}

/* Desktop staggered animation */
@media (min-width: 1024px) {
  .service-card-container > .col-12:nth-of-type(1) .cart-container.show .iot-card__image,
  .service-card-container > .col-12:nth-of-type(1) .cart-container.show .iot-card__title,
  .service-card-container > .col-12:nth-of-type(1) .cart-container.show .iot-card__text {
    transition-delay: 0s;
  }
  .service-card-container > .col-12:nth-of-type(2) .cart-container.show .iot-card__image,
  .service-card-container > .col-12:nth-of-type(2) .cart-container.show .iot-card__title,
  .service-card-container > .col-12:nth-of-type(2) .cart-container.show .iot-card__text {
    transition-delay: 0.2s;
  }
  .service-card-container > .col-12:nth-of-type(3) .cart-container.show .iot-card__image,
  .service-card-container > .col-12:nth-of-type(3) .cart-container.show .iot-card__title,
  .service-card-container > .col-12:nth-of-type(3) .cart-container.show .iot-card__text {
    transition-delay: 0.4s;
  }
  /* Add more if you add more cards */
}/*# sourceMappingURL=ServiceCard.css.map */