.iot-card {
  display: flex;
  flex-grow: 1;
//   background-color: rgba(255, 255, 255, 0.8);
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
  
transition: all 0.3s ease-in-out;
   
  
  
  scrollbar-width: none; // Firefox
//   min-width: 300px;
  position: relative;
    max-width: 992px;
    




  .iot-card__title_bg{
    position: absolute;
    top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20rem; // adjust size as needed
        font-weight: 900;
        color: rgba(255, 255, 255, 0.527); // very light and transparent
        user-select: none;
        pointer-events: none;
        z-index: 999;
        
  }

  &::-webkit-scrollbar {
    display: none; // Chrome, Safari, Opera
  }

  .iot-card__text {
    transition: all 0.3s ease-in-out;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    flex-direction: column;
    padding-left: 5em;
    padding-right: 5em;
    min-width: 300px;

    .divider {
      align-self: center;
      border: 0.5px solid;
      border-radius: 50%;
      width: 90%;
     
      display: none;
    }

    .iot-card__title {
        transition: all 0.3s ease-in-out;
      font-size: 2rem;
    }

    .iot-card__description {
        transition: all 0.3s ease-in-out;
      display: none;
    }
  }

  .card-container {
    display: flex;
    flex-grow: 1;
  }

  // Text colors inside card
  div,
  h4,
  p {
    color: #000;
  }

  &--hover {
    cursor: pointer;
    
    &:hover {
    //   background-image: linear-gradient(0deg, var(--primary-contrast-color), var(--primary-color));
      background-color: rgba(249, 192, 163, 0.502);
    //   box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
      // transform: scale(1.05);
      
         .divider {
      color: var(--primary-color) !important;
      display: block;
          transition: all 0.3s ease-in-out 0.15s;
    }




    .iot-card__title {
        transition: all 0.3s ease-in-out 0.15s;

      font-size: 2rem;
    }

    .iot-card__description {
        transition: all 0.3s ease-in-out 0.15s;

         display: block;
    }

      a.iot-card__link,
      .iot-card__list li,
      .iot-card__list svg,
      .iot-card__title,
      p {
        color: rgb(0, 0, 0);
      }
    }
  }

  &__image {
    // padding-bottom: 1rem;
    // color: var(--primary-color);
    object-fit: cover;
    opacity: 0;
    // transform: translateY(-100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  // Show animation container controlling image appearance
  .cart-container.show &__image {
    transform: translateY(0);
    opacity: 1;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease, opacity 0.5s ease;
  }

  .cart-container.show &__title {
    transform: translateX(0);
    opacity: 1;
  }

  &__text {
    font-size: 1em;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.5s ease, opacity 0.5s ease;

    > a {
      color: red !important;
    }
  }

  .cart-container.show &__text {
    transform: translateY(0);
    opacity: 1;
  }

  &__link {
    display: inline-flex;
    align-items: center;
    padding-top: 1rem;
    color: var(--primary-color) !important;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none !important;

    span {
      padding-left: 0.25rem;
    }
  }
}

/* Desktop staggered animation */
@media (min-width: 1024px) {
  .service-card-container > .col-12:nth-of-type(1) .cart-container.show {
    .iot-card__image,
    .iot-card__title,
    .iot-card__text {
      transition-delay: 0s;
    }
  }

  .service-card-container > .col-12:nth-of-type(2) .cart-container.show {
    .iot-card__image,
    .iot-card__title,
    .iot-card__text {
      transition-delay: 0.2s;
    }
  }

  .service-card-container > .col-12:nth-of-type(3) .cart-container.show {
    .iot-card__image,
    .iot-card__title,
    .iot-card__text {
      transition-delay: 0.4s;
    }
  }

  /* Add more if you add more cards */
}
