/* Base styles */
.navbar {
    position: sticky;
    top: 0;
    height: 80px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    transition: all 120ms ease-in-out;
    background-color: black;
    padding: 0;

    .mobile-menu-container {
        display: none;

    }

    .navbar-section-middle {
        position: relative;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left {
            position: relative;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .main-logo {
                object-fit: cover;
                width: auto;
                height: 70px;
                display: block;
            }

            &::after {
                content: "";
                position: absolute;
                top: 10%;
                right: -30px;
                height: 80%;
                width: 0.5px;
                background-color: rgb(169, 168, 168);

            }
        }

        .middle {
            display: flex;
            justify-content: center;
            align-items: center;

            li {
                font-size: 1em !important;
            }
        }
    }

    a,
    li div {
        color: var(--primary-color) !important;
    }

    .navbar-links.desktop-only {
        li {
            &.active {
                a {
                    color: var(--primary-contrast-color) !important;
                }
            }

            a {
                font-size: 1.2em;
                padding: 0em 1.3em 0em 1.3em;
                color: var(--primary-color);
                transition: all 120ms ease-in-out;

                &:hover {
                    color: var(--primary-color) !important;

                }
            }
        }
    }



    .navbar-section-right {
        display: flex;
    }

    .navbar-section-left {
        position: relative;
    }

    .logo-container-header {
        max-width: 70px;
        max-height: 70px;
        overflow: hidden !important;
        border-radius: 50%;
        display: inline-block;
        position: fixed;
        top: 15px;

        .header-logo {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(2) translateY(2px);
            transition: transform 0.3s ease;
        }
    }

    .navbar-links,
    .mobile-links {
        list-style: none;
        display: flex;
        gap: 1rem;
        padding: 0;
        margin: 0;

        li {
            a {
                font-size: larger;
                text-decoration: none;
                // color: #333 !important;
            }
        }

        li {
            &.active {
                a {
                    color: var(--primary-contrast-color) !important;
                }
            }

        }
    }

    .get-started {
        background-color: var(--primary-contrast-color);
        color: white;
        padding: 0.5rem 1.2rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .lang-switch {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .lang-label {
            padding-right: 1em;
            font-weight: bold;
            color: var(--primary-contrast-color);
        }
    }

    /* Toggle Switch */
    .switch {
        position: relative;
        display: inline-block;
        width: 44px;
        height: 24px;
        cursor: pointer;

        input {
            opacity: 0;
            width: 0;
            height: 0;

            &:checked+.slider {
                background-color: var(--primary-contrast-color);

                &::before {
                    transform: translateX(20px);
                }
            }
        }

        .slider {
            position: absolute;
            inset: 0;
            background-color: #ccc;
            border-radius: 24px;
            transition: 0.4s;

            &::before {
                content: "";
                position: absolute;
                height: 18px;
                width: 18px;
                left: 3px;
                bottom: 3px;
                background-color: white;
                border-radius: 50%;
                transition: 0.4s;
            }
        }
    }

    /* Hamburger Icon */
    .menu-toggle {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 24px;
        height: 20px;
        background: none;
        border: none;
        cursor: pointer;

        .bar {
            height: 3px;
            width: 100%;
            background-color: white !important;
            border-radius: 3px;
        }

        &.scrolled,
        &:not(.scrolled) {

            .burger-lines,
            .burger-lines::before,
            .burger-lines::after {
                background-color: var(--primary-color);
            }
        }
    }

    /* Mobile Menu */
    .mobile-menu {
        position: fixed;
        left: -100%;
        width: 100vw;
        height: calc(100% - 80px);
        top: 80px;
        background: #fff;
        box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
        padding: 2rem;
        transition: all 0.3s ease-in-out;

        display: none;
        /* moved here to avoid override issues */
        flex-direction: column;
        gap: 1.5rem;
        z-index: 999;
        // border-top-left-radius: 5px;

        ul {
            display: flex;
            flex-direction: column;
        }

        &.open {


            left: 0;
        }

        .close-btn {
            background: none;
            border: none;
            font-size: 2rem;
            align-self: flex-end;
            cursor: pointer;
        }
    }

    /* Responsive */
    @media screen and (max-width: 800px) {


        .mobile-menu-container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .menu-button {
                display: flex;
                justify-content: start;
                align-items: center;
                margin-left: 15px;

            }

            .main-logo {
                object-fit: cover;
                margin-right: 15px;
                height: 60px;
                display: block;
            }
        }

        .mobile-menu {
            display: block;
        }

        .desktop-only {
            display: none;
        }

        .navbar-section-middle {
            display: none !important;
        }

        .menu-toggle {
            display: flex;
            margin-right: 1em;
        }

        /* Corrected this part: apply justify-content to navbar */
        justify-content: start;
    }

    @media screen and (max-width: 1499px) {
        .navbar-section-middle {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex: 0 0 auto;
            width: 75%;

            .left {
                display: flex;
                justify-content: flex-end;
                align-items: center;

                .main-logo {
                    object-fit: cover;

                    height: 60px;
                    display: block;

                }

            }

            .right {
                display: none;
            }

        }

        .navbar-section-middle .logo-section {
            position: absolute;
        }


        .navbar-links.desktop-only {

            li {
                white-space: nowrap;

                &.active {
                    a {
                        color: var(--primary-contrast-color) !important;
                    }
                }

                a {
                    font-size: 0.9em;
                    padding: 0em 0.1em 0em 0.1em;
                    color: var(--primary-color);
                    transition: all 120ms ease-in-out;

                }
            }
        }
    }
}