.container-with-toggle {
    position: relative;



    &.expanded {
        // max-height will be set dynamically by JS, so can leave empty here
        transition: max-height 0.5s ease-in-out;
    }



    .image-column {
        @media (min-width: 768px) {
            position: sticky;
            top: 25vh; // distance from top
            align-self: flex-start;
        }
    }

    .toggle-button-container {

        button {
            font-size: 40px;
            color: var(--primary-contrast-color);
            position: sticky;
            top: 20px;
            /* distance from the top of viewport */
            z-index: 100;
            /* make sure it appears on top */
        }


    }
}

#section-2, #section-1, #section-3, #section-4 {
  * {
    line-height: 1.5;
  }
}

h2, h3{
  line-height: 1.5;
}