.default-layout {
  position: relative;
//   min-height: 100vh;
  background: var(--primary-gray-color);
  color: #212529;
  
  overflow-x: hidden;
}

.layout-background {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--primary-gray-color);
  opacity: 0.08;
}

.layout-content {
  position: relative;
  z-index: 1;
}
