@font-face {
    font-family: 'Ivy Mode';
    src: url('IvyMode-Light.woff2') format('woff2'),
        url('IvyMode-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

